ul{
    list-style-type: none;
}
.inline-block{
    display:inline-block;
}
.w100{

    width:100px;
}
.max-w100{
    max-width:100px;
}
.h100{
    height:100px;
}
.h500{
	height:500px;
}
.max-h100{
    max-height:100px;
}
.bg-light-gray{
    background-color:#f6f9fb;
}
.bd-ccc{
    border:1px solid #ccc;
}
.verticalcenter{
    position: relative;
    top: 50%;
    left: 50%; /*上下移动屏幕的50%*/
    margin-left: auto;
    margin-right:auto;
    -webkit-transform: translate(-50%,-50%); /*减去自身的50%（多移动的）*/
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}